DB_HOST=localhost
DB_PORT=3306
MYSQL_DATABASE=db_springboot
MYSQL_ROOT_PASSWORD=password_root
MYSQL_USER=usuario_springboot_db
MYSQL_PASSWORD=password_usuario_springboot_db
SPRING_DATASOURCE_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/${MYSQL_DATABASE}
SPRING_DATASOURCE_USERNAME=${MYSQL_USER}
SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD}
