DB_HOST=localhost
DB_PORT=3306
MYSQL_DATABASE=db_springboot
MYSQL_ROOT_PASSWORD=password_root
MYSQL_USER=usuario_springboot_db
MYSQL_PASSWORD=password_usuario_springboot_db
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/db_springboot
SPRING_DATASOURCE_USERNAME=usuario_springboot_db
SPRING_DATASOURCE_PASSWORD=password_usuario_springboot_db
SEED=jwtSeed